<ul class="heroes">
    {{#heroes}}
    <li>
        <img src={{img}} alt={{hero}}>
        <h2>{{hero}}</h2>
        <span>{{weapon}}</span>
        <span>{{skills}}</span>
    </li>
    {{/heroes}}
</ul>